<form [formGroup]="empForm" (ngSubmit)="saveEmployee()">
  <mat-card>
    <mat-card-header>
      <h1>{{title}}</h1>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Employee Id </mat-label>
        <input matInput formControlName="id"></mat-form-field>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Date of Joining</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="doj">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
          <mat-option value="" selected hidden>Please select a role </mat-option>
          <mat-option value="Developer">Developer</mat-option>
          <mat-option value="Manager">Manager</mat-option>
          <mat-option value="Tester">Tester</mat-option>
          <mat-option value="Designer">Designer</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Salary</mat-label>
        <input matInput formControlName="salary" type="number">
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions>

      <button mat-raised-button color="primary" type="submit">Save</button>
      <a mat-raised-button color="accent">Close</a>
    </mat-card-actions>
  </mat-card>
</form>
